// nombre.component.scss

// Estilos para el contenido dentro del componente
ion-list {
  background-color: #321a1a;
  padding: 10px;
}

ion-item {
  border-bottom: 1px solid #d565b0;
}

ion-avatar {
  width: 32px;
  height: 32px;
}

// Puedes agregar más estilos según sea necesario
